/* @import "tailwindcss"; */
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

@theme {
  --color-primary: #0071ff;

  --color-brand: #5000ca;
  --color-brand-dark: color-mix(in oklab, var(--color-brand), #000 25%);
  --color-brand-light: color-mix(in oklab, var(--color-brand), #fff 35%);
}